.iconClose{
    margin-left: auto;
    font-size: 16px;
    color: #666;
    height:  100%;
    cursor: pointer;
}

.taskBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
}

.task {
    display: flex;
    align-items: center;
    word-break: break-word;
    height: auto;
    min-height: 3em;
    color: gray;
}


input[type=checkbox]  {
    width: 2em;
    accent-color: rgb(85, 41, 220);;
}

.taskCompleted {
    display: flex;
    align-items: center;
    word-break: break-word;
    height: auto;
    min-height: 3em;
    font-size: #fff;
}

.taskBoxCompleted {
    font-size: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(85, 41, 220);
}